@{
    ViewBag.Title = "Login Failure";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";  
}



<div class="row-fluid">
    <div class="box-content alerts">
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h2>@ViewBag.Title.</h2>
            <h3>Unsuccessful login with service.</h3>
        </div>
    </div>
</div>
